services:
  backend:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - yanblog_upload_data:/app/uploads
      # 挂载可编辑的配置文件目录，确保持久化和修改生效
      - yanblog_public_data:/app/web/frontend/public
    depends_on:
      - db

    networks:
      - yanblog-network
    restart: always

  frontend-admin:
    build: ./web/backend
    ports:
      - "3011:80"
    depends_on:
      - backend
    networks:
      - yanblog-network
    restart: always

  frontend-public:
    build: ./web/frontend
    ports:
      - "3002:80"
    depends_on:
      - backend
    networks:
      - yanblog-network
    restart: always


  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: yanblog
    volumes:
      - yanblog_db_data:/var/lib/mysql
    networks:
      - yanblog-network
    restart: always

networks:
  yanblog-network:
    driver: bridge

volumes:
  yanblog_db_data:
  yanblog_upload_data:
  yanblog_public_data: