services:
  yanblog:
    build: .
    ports:
      - "3002:80"   # Public Frontend
      - "3011:81"   # Admin Backend
    volumes:
      # Uploads Persistence (Host Mount)
      - ./docker_field/uploads:/app/uploads
      
    depends_on:
      - db
    networks:
      - yanblog-network
    restart: always

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: yanblog
    volumes:
      # Database Persistence (Host Mount)
      - ./docker_field/mysql/data:/var/lib/mysql
    networks:
      - yanblog-network
    restart: always

networks:
  yanblog-network:
    driver: bridge

